@charset "UTF-8";

.content{

	margin:70px 150px;
}

#container{
		width: 800px;
		margin: 0 auto;
	}
	
	
#footer{
		background-color: #FF8000;
		color:white;
		line-height: 50px;
		height: 50px;
		text-align: center;
}

.errorField{
	color:red;
}